@CHARSET "UTF-8";

*, html {
    padding: 0;
    margin: 0
}

body {
    padding: 0;
    margin: 0;
    width: 480px;
    border-radius: 5px;
    overflow: hidden;
    font: 12px/24px Arial,sans-serif;
    color: #666
}

header {
    padding: 0.5em 0.5em 0 0;
    height: 2em;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #666;
}

#extension-title {
    color: #666666;
    float: right;
    font-size: 100%;
    padding-right: 0.5em;
    margin-bottom: 5px
}

.content-title {
    cursor: pointer;
    padding: 2px 10px;
    border-bottom: 3px solid #fff
}

.content-title-active {
    background: white;
    border-bottom: 3px solid #f66
}

#lookup-options {
    margin-bottom: 10px
}

#lookup-options label {
    width: 48px;
    display: inline-block;
    text-align: right;
}
#lookup-options select {
    padding-left: 3px;
    color: #666;
    height: 24px;
}

.option {
    margin-bottom: 0.5em;
}

.option.inline {
    display: inline-block;
}

#lookup {
    padding: 10px
}

#lookup-suboption {
    margin-top: 3px;
    z-index: 1;
    text-align: right
}

#lookup-suboption * {
    vertical-align: middle
}

input[type='search'] {
    height: 28px;
    width: 340px
}

input[type='submit'], input[type='reset'] {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    width: 50px;
    border:  1px solid #CCC;
    border-right-color: #999;
    border-bottom-color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    font-size: 11px;
    font-weight: bold;
}

#history {
    margin-top: 5px
}

.history-title {
    padding: 3px 0 3px 5px;
    font-size: 110%;
    color: #FFF;
    background-color: #666
}

#history-list {
    max-height: 380px;
    overflow-y: auto;
}

.history-item {
    font-size: 95%;
    cursor: pointer;
    padding: .2em .5em;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 0;
}

.history-item:last-child {
    border: 1px solid #999;
}

.history-item:hover {
    background-color: #DDD
}

.ui-auto-complete {
    display: none
}

.ui-widget-content {
    border: 1px solid #aaa
}

.ui-menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 2px
}

.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}

.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
}

.ui-menu-item a.ui-state-hover {
    background: #eee
}

.hide {
    display: none
}

#option {
    padding: 10px;
    text-align: left
}

#option th, #option td {
    padding: 0.5em
}

#option th {
    background-color: #eee
}

#option select {
    width: 10em;
    padding-left: 0.5em
}

a {
    color: #666
}